<div class=" h-100">
    <div class="text-center image">
        <img src="/images/WhatsApp Image 2024-08-13 at 10.47.32_3f718d91.jpg" alt="img-fluid rounded-circle mt-5">
        <h4 class="text-white mt-3 st-front">Vansh sanklecha</h3>
    </div>
    <nav class="nav flex-column text-center mt-4">
        <a href="/" class="nav-link <% if(page_name == 'home'){ %>active  <% } %>">home</a>
        <a href="/services" class="nav-link<% if(page_name == 'services'){ %>active  <% } %>">services</a>
        <a href="/skill" class="nav-link<% if(page_name == 'skill'){ %>active  <% } %>">skill</a>
        <a href="/contact" class="nav-link<% if(page_name == 'contact'){ %>active  <% } %>">contact</a>
    </nav>
</div>